<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="~/css/main_page.css">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap"
		  rel="stylesheet">
	<title>Netflix</title>
</head>

<body>
	<header>
		<div class="container">
			<h2 class="logo">QSTREAM</h2>
			<nav>
				<a asp-controller="Admin" asp-action="Display">Management Users</a>
				<a asp-controller="Admin" asp-action="editProfile">Profile</a>
				<a asp-controller="Admin" asp-action="displayMovies">Movies</a>
				<a asp-controller="Admin" asp-action="displaySeries">Seies</a>
				<a asp-controller="UserAuthentication" asp-action="Logout">Logout</a>
			</nav>
		</div>
	</header>

	<main>
		<!-- Recommended Movies Carousel-->
		<div class="recommended-movies container">
			<div class="title-controls-container">
				<h3>Recommended Movies</h3>
				<div class="indicators"></div>
			</div>

			<div class="main-container">
				<button role="button" id="left-arrow" class="left-arrow"><i class="fas fa-angle-left"></i></button>

				<!-- Movie Carousel -->
				<div class="carousel-container">
					<div class="carousel">
						<div class="movie">
							<div class="video-thumbnail">
								<a href="#"><img src="~/img/1.png"></a>
								<div class="video-overlay">
									<div class="video-player">
										<iframe id="videoPlayer" src="" frameborder="0" allowfullscreen></iframe>
									</div>
								</div>
							</div>
						</div>
						<div class="movie">
							<div class="video-thumbnail">
								<a href="#"><img src="~/img/2.png"></a>
								<div class="video-overlay">
									<div class="video-player">
										<iframe id="videoPlayer" src="" frameborder="0" allowfullscreen></iframe>
									</div>
								</div>
							</div>
						</div>
						<div class="movie">
							<!-- Go to the selected movie -->
							<a href="#"><img src="~/img/3.png" alt="image 3"></a>
						</div>
						<div class="movie">
							<!-- Go to the selected movie -->
							<a href="#"><img src="~/img/4.png" alt="image 4"></a>
						</div>
						<div class="movie">
							<!-- Go to the selected movie -->
							<a href="#"><img src="~/img/5.png" alt="image 5"></a>
						</div>
						<div class="movie">
							<!-- Go to the selected movie -->
							<a href="#"><img src="~/img/6.png" alt="image 6"></a>
						</div>
						<div class="movie">
							<!-- Go to the selected movie -->
							<a href="#"><img src="~/img/7.png" alt="image 7"></a>
						</div>
						<div class="movie">
							<!-- Go to the selected movie -->
							<a href="#"><img src="~/img/1.png" alt="image 5"></a>
						</div>
						<div class="movie">
							<!-- Go to the selected movie -->
							<a href="#"><img src="~/img/2.png" alt="image 6"></a>
						</div>
						<div class="movie">
							<!-- Go to the selected movie -->
							<a href="#"><img src="~/img/3.png" alt="image 7"></a>
						</div>
					</div>
				</div>


				<button role="button" id="right-arrow" class="right-arrow"><i class="fas fa-angle-right"></i></button>
			</div>
		</div>
	</main>

	<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
	<script src="~/js/main_page.js"></script>
</body>

</html>
