

<html>
<head>
    @if (ViewBag.Mode == "claro")
    {
        <link rel="stylesheet" href="~/css/lightMode.css" asp-append-version="true" />
    }
    else
    {
        <link rel="stylesheet" href="~/css/main_page.css">
    }
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>

<body class="CPP_BODY">
    <div class="change_img_section">
        <h2 class="CPP_TITLE">Change your Profile Image</h2>
        <img id="profileImagePreview" src="@ViewBag.ProfilePicture" alt="Profile picture" />

        <div class="button_section_CPP">
            @using (Html.BeginForm("UploadProfileImage", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="file" class="btn_choose_file" name="file" accept="image/*" onchange="previewProfileImage(this)" />
                <button type="submit" class="buttons_CPP">Save image</button>
            }
        </div>
    </div>
</body>


</html>