@model ProyectoVideoteca.Models.tb_SERIE

@{
    ViewData["Title"] = "createSeries";
}

<head>
    @if (ViewBag.Mode == "claro")
    {
        <link rel="stylesheet" href="~/css/lightMode.css" asp-append-version="true" />
    }
    else
    {
        <link rel="stylesheet" href="~/css/main_page.css">
    }
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<h1>Create a new serie</h1>

<body>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="createSeries">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="TITLE" class="control-label"></label>
                    <input asp-for="TITLE" class="form-control" id="inputTitle" />
                    <span asp-validation-for="TITLE" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IMG" class="control-label"></label>
                    <input asp-for="IMG" class="form-control" />
                    <span asp-validation-for="IMG" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RELEASE_DATE" class="control-label"></label>
                    <input asp-for="RELEASE_DATE" class="form-control" />
                    <span asp-validation-for="RELEASE_DATE" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SCORE" class="control-label"></label>
                    <input asp-for="SCORE" class="form-control" />
                    <span asp-validation-for="SCORE" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DIRECTOR_NAME" class="control-label"></label>
                    <input asp-for="DIRECTOR_NAME" class="form-control" />
                    <span asp-validation-for="DIRECTOR_NAME" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ACTOR_NAME" class="control-label"></label>
                    <input asp-for="ACTOR_NAME" class="form-control" />
                    <span asp-validation-for="ACTOR_NAME" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ACTOR_IMG" class="control-label"></label>
                    <input asp-for="ACTOR_IMG" class="form-control" />
                    <span asp-validation-for="ACTOR_IMG" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GENRE" class="control-label"></label>
                    <input asp-for="GENRE" class="form-control" />
                    <span asp-validation-for="GENRE" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SYNOPSIS" class="control-label"></label>
                    <input asp-for="SYNOPSIS" class="form-control" />
                    <span asp-validation-for="SYNOPSIS" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CLASS" class="control-label"></label>
                    <input asp-for="CLASS" class="form-control" />
                    <span asp-validation-for="CLASS" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <button id="btnSeason" onclick="createSeason()" type="submit">Add season</button>
        <a asp-action="displaySeries">Back to List</a>
    </div>

    
</body>
