@model ProyectoVideoteca.Models.tb_EPISODE

@{
    ViewData["Title"] = "createEpisode";
}

<h1>createEpisode</h1>

<h4>tb_EPISODE</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="createEpisode">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NAME_EPISODE" class="control-label"></label>
                <input asp-for="NAME_EPISODE" class="form-control" />
                <span asp-validation-for="NAME_EPISODE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NUMBER" class="control-label"></label>
                <input asp-for="NUMBER" class="form-control" />
                <span asp-validation-for="NUMBER" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SYNOPSIS" class="control-label"></label>
                <input asp-for="SYNOPSIS" class="form-control" />
                <span asp-validation-for="SYNOPSIS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SEASON_ID" class="control-label"></label>
                <select asp-for="SEASON_ID" class ="form-control" asp-items="ViewBag.SEASON_ID"></select>
            </div>
            <div class="form-group">
                <label asp-for="IMG" class="control-label"></label>
                <input asp-for="IMG" class="form-control" />
                <span asp-validation-for="IMG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VIDEO" class="control-label"></label>
                <input asp-for="VIDEO" class="form-control" />
                <span asp-validation-for="VIDEO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DURATION" class="control-label"></label>
                <input asp-for="DURATION" class="form-control" />
                <span asp-validation-for="DURATION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="displaySeries">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
