@model ProyectoVideoteca.Models.tb_SECONDARY_ACTOR

@{
    ViewData["Title"] = "createActorsMovies";
}

<h1>Create Actors Movies</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="createActorsMovies">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ACTOR_NAME" class="control-label"></label>
                <input asp-for="ACTOR_NAME" class="form-control" />
                <span asp-validation-for="ACTOR_NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ACTOR_IMG" class="control-label"></label>
                <input asp-for="ACTOR_IMG" class="form-control" />
                <span asp-validation-for="ACTOR_IMG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="displayMovies">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
