@model ProyectoVideoteca.Models.tb_SEASON

@{
    ViewData["Title"] = "createSeason";
}

<h1>createSeason</h1>

<h4>tb_SEASON</h4>

<body>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="createSeason">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NUMBER" class="control-label"></label>
                    <input asp-for="NUMBER" class="form-control" />
                    <span asp-validation-for="NUMBER" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TITLE" class="control-label"></label>
                    <select asp-for="TITLE" class="form-control" asp-items="ViewBag.TITLE"></select>
                </div>
                <div class="form-group">
                    <label asp-for="EPISODES_NUMBER" class="control-label"></label>
                    <input asp-for="EPISODES_NUMBER" class="form-control" />
                    <span asp-validation-for="EPISODES_NUMBER" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VIDEO" class="control-label"></label>
                    <input asp-for="VIDEO" class="form-control" />
                    <span asp-validation-for="VIDEO" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>

            </form>
        </div>
    </div>
    <button id="btnEpisode" onclick="createEpisode()">Add episodes</button>
</body>
