@model ProyectoVideoteca.Models.tb_MOVIE

@{
    ViewData["Title"] = "editMovies";
}

<h1>Edit Movies</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="editMovies">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TITLE" />
            <div class="form-group">
                <label asp-for="SYNOPSIS" class="control-label"></label>
                <input asp-for="SYNOPSIS" class="form-control" />
                <span asp-validation-for="SYNOPSIS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CLASS" class="control-label"></label>
                <input asp-for="CLASS" class="form-control" />
                <span asp-validation-for="CLASS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RELEASE_DATE" class="control-label"></label>
                <input asp-for="RELEASE_DATE" class="form-control" />
                <span asp-validation-for="RELEASE_DATE" class="text-danger"></span>
            </div>
           <div class="form-group">
                <label asp-for="IMG" class="control-label"></label>
                <input asp-for="IMG" class="form-control" />
                <span asp-validation-for="IMG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SCORE" class="control-label"></label>
                <input asp-for="SCORE" class="form-control" />
                <span asp-validation-for="SCORE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DIRECTOR_NAME" class="control-label"></label>
                <select asp-for="DIRECTOR_NAME" class="form-control" asp-items="ViewBag.DIRECTOR_NAME"></select>
                <span asp-validation-for="DIRECTOR_NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ACTOR_NAME" class="control-label"></label>
                <select asp-for="ACTOR_NAME" class="form-control" asp-items="ViewBag.ACTOR_NAME"></select>
                <span asp-validation-for="ACTOR_NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GENRE" class="control-label"></label>
                <input asp-for="GENRE" class="form-control" />
                <span asp-validation-for="GENRE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DURATION" class="control-label"></label>
                <input asp-for="DURATION" class="form-control" />
                <span asp-validation-for="DURATION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VIDEO" class="control-label"></label>
                <input asp-for="VIDEO" class="form-control" />
                <span asp-validation-for="VIDEO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="displayMovies">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
