@model ProyectoVideoteca.Models.tb_MOVIESANDGENRES

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   @* <meta name="viewport" content="width=device-width, initial-scale=1">*@@*menu responsive*@

    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@@*menu responsive*@
   
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    @if (ViewBag.Mode == "claro")
    {
        <link rel="stylesheet" href="~/css/lightMode.css" asp-append-version="true" />
    }
    else
    {
        <link rel="stylesheet" href="~/css/main_page.css">
    }

    <!-- Slick -->
    <link rel="stylesheet" type="text/css" href="/slick-1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="/slick-1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" href="https://code.jquery.com/jquery-3.6.4.min.js" />

    <!-- End Slick --> 
</head>

<body>
    @if (User.IsInRole("user"))
    {
        <header>
            <nav>
                @*<div class="container">*@
                    <a class="logo" asp-controller="client" asp-action="ClientMain">QSTREAM</a>
                
                    <input type="checkbox" id="check" />
                    <label for="check" class="checkbtn">
                        <i class="fas fa-bars"></i>
                    </label>
                    <ul>
                        <li><a asp-controller="client" asp-action="ClientMain">Movies</a></li>
                        <li><a asp-controller="client" asp-action="displaySeries">Series</a></li>
                        <li><a asp-controller="client" asp-action="kidsMode">Kids Mode</a></li>
                        <li><a asp-controller="client" asp-action="editProfile">Profile</a></li>
                        <li><a asp-controller="UserAuthentication" asp-action="Logout">Logout</a></li>
                    </ul>
                @*</div>*@
            </nav>
        </header>

        <div class="searchNG">
            <input class="inp" id="inputSearch" placeholder="Search movie">
            <button id="btnSearch" onclick="search()"><i class="fas fa-search"></i></button>
        </div>

    }
    else if (User.IsInRole("admin"))
    {
        <header>
            <nav>
                @*<div class="container">*@
                <a class="logo" asp-controller="client" asp-action="ClientMain">QSTREAM</a>

                <input type="checkbox" id="check" />
                <label for="check" class="checkbtn">
                    <i class="fas fa-bars"></i>
                </label>
                <ul>
                    <li><a asp-controller="Admin" asp-action="Display">User Management</a></li>
                    <li><a asp-controller="Admin" asp-action="DisplayMovies">Movies Management</a></li>
                    <li><a asp-controller="Admin" asp-action="DisplaySeries">Series Management</a></li>
                    <li><a asp-controller="client" asp-action="displaySeries">Series</a></li>
                    <li><a asp-controller="Admin" asp-action="editProfile">Profile</a></li>
                    <li><a asp-controller="UserAuthentication" asp-action="Logout">Logout</a></li>
                </ul>
                @*</div>*@
            </nav>@*
            <div class="container">
                <a class="logo" asp-controller="client" asp-action="ClientMain">QSTREAM</a>
                <nav>
                    <a asp-controller="Admin" asp-action="Display">User Management</a>
                    <a asp-controller="Admin" asp-action="DisplayMovies">Movies Management</a>
                    <a asp-controller="Admin" asp-action="DisplaySeries">Series Management</a>
                    <a asp-controller="client" asp-action="displaySeries">Series</a>
                    <a asp-controller="Admin" asp-action="editProfile">Profile</a>
                    <a asp-controller="UserAuthentication" asp-action="Logout">Logout</a>
                </nav>
            </div>*@
        </header>

        <div class="searchNG">
            <input class="inp" id="inputSearch" placeholder="Search movie">
            <button id="btnSearch"><i class="fas fa-search"></i></button>
        </div>
    }
    else //superAdmin
    {
        <header>
            <nav>
                @*<div class="container">*@
                <a class="logo" asp-controller="client" asp-action="ClientMain">QSTREAM</a>

                <input type="checkbox" id="check" />
                <label for="check" class="checkbtn">
                    <i class="fas fa-bars"></i>
                </label>
                <ul>
                    <li><a asp-controller="SuperAdmin" asp-action="Display">User Management</a></li>
                    <li><a asp-controller="SuperAdmin" asp-action="editProfile">Profile</a></li>
                    <li><a asp-controller="UserAuthentication" asp-action="Logout">Logout</a></li>
                </ul>
                @*</div>*@
            </nav>@*
            <div class="container">
                <a class="logo" asp-controller="client" asp-action="ClientMain">QSTREAM</a>
                <nav>
                    <a asp-controller="SuperAdmin" asp-action="Display">User Management</a>
                    <a asp-controller="SuperAdmin" asp-action="editProfile">Profile</a>
                    <a asp-controller="UserAuthentication" asp-action="Logout">Logout</a>
                </nav>
            </div>*@

            <div id="toggle" onclick="change()">
                <i class="indicator"></i>
            </div>
        </header>

        <body>
            <div id="info">
                <h1>Privacy Policy</h1>
                <p id="paragraph">
                    Esta Experiencia y cualquier contenido
                    o actividad relacionada son únicamente para uso personal y no comercial.
                    Durante el uso de la Experiencia, le otorgamos una licencia limitada, no exclusiva e
                    intransferible para acceder al contenido y las actividades de la Experiencia.
                    Excepto dicha licencia limitada, no se le transferirá ningún derecho o título.
                    Usted se compromete a no usar la Experiencia para actuaciones públicas.
                    Los costos del acceso a internet corren por su cuenta.
                </p>
                <p id="paragraph">
                    Debe tener al menos trece (13) años de edad para interactuar con esta Experiencia. La Experiencia, sus contenidos y sus servicios
                    (las “Experiencias”) solo son para fines informativos. La Experiencia está patrocinada por QStream, Inc.
                    Incluya el nombre de la Experiencia cuando nos escriba.
                </p>
                <p id="paragraph">
                    Si, durante el intercambio de información, transferimos información personal a países fuera del Espacio Económico Europeo (EEE) y demás regiones con 
                    leyes integrales de protección de datos, nos aseguraremos de que tal información se transfiera de acuerdo con estos Términos y según lo permitan las 
                    leyes aplicables sobre protección de datos.
                </p>
            </div>
        </body>
    }

    @if (!User.IsInRole("superAdmin"))
    {
        <!-- Carousel Result -->
        <div class="carousel-container" id="carRe"></div>

        <div class="myCarousel">
            <!-- Carousel Content -->
            <div class="slick-carousel">

                @foreach (var genre in Model.genres)
                {
                    <div class="movies-container">
                        <div class="title-controls-container">
                            <h3>@genre.GENRE_NAME</h3>
                        </div>
                        <div class="main-container">
                            <!-- Movie Carousel -->
                            <div class="carousel-container">
                                <div class="galery">
                                    @foreach (var movie in Model.movies)
                                    {
                                        @if (movie.GENRE.Equals(genre.GENRE_NAME))
                                        {
                                            <div class="movie">
                                                <div class="video-thumbnail">
                                                    <a asp-controller="client" asp-action="detailsMovies" asp-route-TITLE="@movie.TITLE">
                                                        <img src="@movie.IMG" class="carouselImg" style="width:200px; height:300px;">
                                                    </a>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

    }
    <!--menu responsive-->
        @*<script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
        </script>*@
    <!--menu responsive-->



    @section Scripts {
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('.galery').slick({
                    dots: true,
                    infinite: true,
                    speed: 300,
                    slidesToShow: 3,
                    centerMode: true,
                    variableWidth: true
                });
            });
        </script>
    }

    <script src="~/js/mode.js"></script>
</body>

</html>