@model ProyectoVideoteca.Models.tb_SERIESANDGENRES

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    @if (ViewBag.Mode == "claro")
    {
        <link rel="stylesheet" href="~/css/lightMode.css" asp-append-version="true" />
    }
    else
    {
        <link rel="stylesheet" href="~/css/main_page.css">
    }
    
    <!-- Slick -->
    <link rel="stylesheet" type="text/css" href="/slick-1.8.1/slick/slick.css" />@*/slick-1.8.1/slick/slick.css*@
    <link rel="stylesheet"
          type="text/css"
          href="/slick-1.8.1/slick/slick-theme.css" />@*/slick-1.8.1/slick/slick-theme.css*@
    <link rel="stylesheet" href="https://code.jquery.com/jquery-3.6.4.min.js" />

    <!-- End Slick -->
</head>

<body>
    <header>
        <div class="container">
            <a class="logo" asp-controller="client" asp-action="ClientMain">QSTREAM</a>
            <nav>
                <a asp-controller="client" asp-action="ClientMain">Movies</a>
                <a asp-controller="client" asp-action="displaySeries">Series</a>
                <a asp-controller="client" asp-action="editProfile">Profile</a>
                <a asp-controller="UserAuthentication" asp-action="Logout">Logout</a>
            </nav>
        </div>
    </header>

    <div class="searchNG">
        <input class="inp" id="inputSerie" placeholder="Search serie">
        <button id="btnSerie"><i class="fas fa-search"></i></button>
    </div>

        <!-- Carousel Result -->
        <div class="carousel-container" id="carRe"></div>

    <!--Aquí inicia la carga de cada carousel-->
    <div class="myCarousel">
        <!-- Contenido del carousel aquí -->
        <div class="slick-carousel">
            @foreach (var genre in Model.genres)
            {
                <div class="movies-container">
                    <div class="title-controls-container">
                        <h3>@genre.GENRE_NAME</h3>
                        <div class="indicators"></div>
                    </div>
                    <div class="main-container">
                        <!-- Series Carousel -->
                        <div class="carousel-container">
                            <div class="galery">
                                @foreach (var serie in Model.series)
                                {
                                    @if (serie.GENRE.Equals(genre.GENRE_NAME))
                                    {
                                        <div class="movie">
                                            <div class="video-thumbnail">
                                                <a asp-controller="client" asp-action="detailsSerie" asp-route-TITLE="@serie.TITLE">
                                                    <img src="@serie.IMG" class="carouselImg" style="width:200px; height:300px;">
                                                </a>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    @section Scripts {
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('.galery').slick({
                dots: true,
                infinite: true,
                speed: 300,
                slidesToShow: 1,
                centerMode: true,
                variableWidth: true
                });
            });
        </script>
    }

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
    *@

    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
    <script src="~/js/main_page.js"></script>
    
</body>

</html>
