
<form asp-action="sendEmail" asp-controller="Client" method="post">
    <input type="text" autocomplete="off" placeholder="Email" name="email">
    <button type="submit" id="btnDetalle" class="btnDet">Send email</button>
</form>

