<html>
    <div>
        <input type="text" id="inInput" autocomplete="off" placeholder="Email"/>
        <button id="btnSend" type="submit" onclick="sendEmail()">Send email</button>
    </div>
</html>