<html>
<div>
    <input type="text" id="inUserName" autocomplete="off" placeholder="User name" />
    <input type="text" id="inEmail" autocomplete="off" placeholder="Email" />
    <button id="btnSend" type="submit" onclick="sendEmail()">Send email</button>
</div>
</html>