
<head>
    <link rel="stylesheet" type="text/css" src="/style.css" />
</head>

<body>
    <input id="send" type="text" autocomplete="off" placeholder="Email">
    <button id="btnSend" onclick="emailSend()">Send email</button>
</body>
