<html>

<head>
    <link rel="stylesheet" type="text/css" src="/style.css" />
</head>

<body id="bodyR">
    <div>
        <section>
            <form>
                <div class="recovery">
                    <h2>Recovery password</h2>

                    <div class="inputBox">
                        <input type="text" id="inUserName" autocomplete="off" placeholder="User name" />
                    </div>
                    <div class="inputBox">
                        <input type="text" id="inEmail" autocomplete="off" placeholder="Email" />
                    </div>
                    @if (TempData["msg"] != null)
                    {
                        <div class="msg">
                            <span class="err">@TempData["msg"]</span>
                        </div>
                    }
                    <div class="inputBox">
                        <button id="btnSend" type="submit" onclick="sendEmail()">Send email</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</body>
</html>