
<head>
    @if (ViewBag.Mode == "claro")
    {
        <link rel="stylesheet" href="~/css/lightMode.css" asp-append-version="true" />
    }
    else
    {
        <link rel="stylesheet" href="~/css/main_page.css">
    }
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>
<img id="profileImagePreview" src="@ViewBag.ProfilePicture" alt="Profile picture" />

@using (Html.BeginForm("UploadProfileImage", "Client", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" accept="image/*" onchange="previewProfileImage(this)" />
    <button type="submit">Save image</button>
}