:root {
    --red: #E50914;
    --background: #141414;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ebeff5;
    font-family: 'Open Sans', sans-serif;
}


#toggle {
    position: relative;
    display: block;
    width: 56px;
    height: 30px;
    border-radius: 160px;
    background: #222;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: inset 0 8px 60px rgba(0,0,0,0.1), inset 0 8px 8px rgba(0,0,0,0.1), inset 0 -4px 4px rgba(0,0,0,0.1);
}

    #toggle.active {
        background: #fff;
        box-shadow: inset 0 2px 60px rgba(0,0,0,0.1), inset 0 2px 8px rgba(0,0,0,0.1), inset 0 -4px 4px rgba(0,0,0,0.05);
    }

    #toggle .indicator {
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        background: linear-gradient(to bottom, #444, #222);
        border-radius: 50%;
        transform: scale(0.9);
        box-shadow: 0 8px 40px rgba(0,0,0,0.5), inset 0 4px 4px rgba(255,255,255,0.2), inset 0 -4px 4px rgba(255,255,255,0.2);
        transition: 0.5s;
    }

    #toggle.active .indicator {
        left: 25px;
        background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
        box-shadow: 0 8px 20px rgba(0,0,0,0.1), inset 0 4px 4px rgba(255,255,255,1), inset 0 -4px 4px rgba(255,255,255,1);
    }

.searchNG {
    display: flex;
    margin: 1em;
    justify-content: end;
}

    .searchNG #inputSearch {
        margin: 5px;
        border: none;
        background-color: floralwhite;
        position: relative;
        box-shadow: 0 8px 20px rgba(0,0,0,0.4), inset 0 4px 4px rgba(255,255,255,1), inset 0 -4px 4px rgba(255,255,255,1);
        padding: 5px 17px;
        border-radius: 8px;
    }

    .searchNG #inputSerie {
        margin: 5px;
        border: none;
        background-color: floralwhite;
        position: relative;
        box-shadow: 0 8px 20px rgba(0,0,0,0.4), inset 0 4px 4px rgba(255,255,255,1), inset 0 -4px 4px rgba(255,255,255,1);
        padding: 5px 17px;
        border-radius: 8px;
    }

    .searchNG #inputSearch::placeholder {
        color: firebrick;
    }

    .searchNG #inputSerie::placeholder {
        color: firebrick;
    }

    .searchNG #btnSearch {
        border: none;
        color: firebrick;
        font-size: 28px;
        padding: 5px 10px;
    }

    .searchNG #btnSerie {
        border: none;
        color: white;
        font-size: 28px;
        padding: 5px 10px;
    }

#selectCRUD {
    border: none;
    border-radius: 10px;
    margin-bottom: 2em;
    padding: 5px 17px;
}

    #selectCRUD:hover {
        background: #d64c42;
    }

.inp {
    width: 30%;
}

.container {
    width: 90%;
    margin: auto;
}

header {
    padding: 30px 0;
}


    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .logo {
        font-family: 'Bebas Neue', cursive;
        font-weight: normal;
        color: var(--red);
        font-size: 40px;
        text-decoration: none;
    }

    header nav a {
        color: black;
        text-decoration: none;
        margin-right: 20px;
    }

        header nav a:hover,
        header nav a.active {
            color: firebrick;
        }


/*    Carousel Slick Slide Properties    */

.slick-dots li button:before {
    color: black;
    margin-top: 10px;
    font-size: 12px;
}

.slick-dots li.slick-active button:before {
    color: red;
}


/* ---- ----- ----- Title and Controls Container ----- ----- ----- */


.title-controls-container {
    display: flex;
    padding: 50px 50px 50px 50px;
    justify-content: space-between;
    align-items: flex-end;
}

    .title-controls-container h3 {
        color: black;
        font-size: 30px;
    }

    .title-controls-container .indicators button {
        background: #FFF;
        height: 3px;
        width: 10px;
        cursor: pointer;
        border: none;
        margin-right: 2px;
    }

        .title-controls-container .indicators button:hover,
        .title-controls-container .indicators button.active {
            background: red;
        }


/* ---- ----- ----- Main Container and Arrows ----- ----- ----- */
#carRe {
    display: none;
}

#carSeries {
    display: none;
}

/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
    header .logo {
        margin-bottom: 10px;
        font-size: 30px;
        text-decoration: none;
    }

    header .container {
        flex-direction: column;
        text-align: center;
    }

    .main-movie {
        font-size: 14px;
    }

        .main-movie .description {
            max-width: 100%;
        }

    .movies-container .carousel-container {
        overflow: visible;
    }

        .movies-container .carousel-container .carousel {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }

    .movies-container .indicators,
    .movies-container .left-arrow,
    .movies-container .right-arrow {
        display: none;
    }
}




/* Video Section */

.video-thumbnail {
    position: relative;
    display: inline-block;
}

.movie .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: opacity 2s;
}

.movie .video-player {
    position: fixed;
    z-index: 999;
    display: none;
    width: 500px;
    left: -40px;
    height: 200px;
    opacity: 1;
    animation: showVideo 2s forwards;
    transition: transform 5s ease;
}

    .movie .video-player:hover {
        animation: slideIn 5s forwards;
        animation-iteration-count: 1;
    }

@keyframes slideIn {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-110px);
    }
}

@keyframes showVideo {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.movie .video-player iframe {
    width: 60%;
    height: 100%;
    overflow: hidden;
}

.movie .video-thumbnail:hover .video-overlay {
    opacity: 1;
}

.movie .video-thumbnail:hover .video-player {
    display: block;
}


/*          Botón modo niños            */

:root {
    --bg: #1a1e24;
    --color: #eee;
    --font: Montserrat, Roboto, Helvetica, Arial, sans-serif;
}

.wrapper {
    padding: 1.5rem 0;
    filter: url('#goo');
}

.button {
    display: inline-block;
    text-align: center;
    background: var(--color);
    color: var(--bg);
    font-weight: bold;
    padding: 1.18em 1.32em 1.03em;
    line-height: 1;
    border-radius: 1em;
    position: absolute;/*relative*/
    min-width: 8.23em;
    text-decoration: none;
    font-family: var(--font);
    font-size: 1.25rem;
}

    .button:before,
    .button:after {
        width: 4.4em;
        height: 2.95em;
        position: absolute;
        content: "";
        display: inline-block;
        background: var(--color);
        border-radius: 50%;
        transition: transform 1s ease;
        transform: scale(0);
        z-index: -1;
    }

    .button:before {
        top: -25%;
        left: 20%;
    }

    .button:after {
        bottom: -25%;
        right: 20%;
    }

    .button:hover:before,
    .button:hover:after {
        transform: none;
    }


/* Demo styles */

/*body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg)
}*/
