:root {
    --red: #E50914;
    --background: #141414;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background);
    font-family: 'Open Sans', sans-serif;
}
    body.active {
        background: #ebeff5;
        font-family: 'Open Sans', sans-serif;
    }

tbody{
    color:white;
}

thead{
    color:white;
}

#btnReport {
    background: linear-gradient(to bottom, #444, #222);
    border: none;
    box-shadow: inset 0 8px 60px rgba(0,0,0,0.1), inset 0 8px 8px rgba(0,0,0,0.1), inset 0 -4px 4px red;
}

#toggle {
    position: relative;
    display: block;
    width: 56px;
    height: 30px;
    border-radius: 160px;
    background: #222;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: inset 0 8px 60px rgba(0,0,0,0.1), inset 0 8px 8px rgba(0,0,0,0.1), inset 0 -4px 4px red;
}
    #toggle.active {
        background: #fff;
        box-shadow: inset 0 2px 60px rgba(0,0,0,0.1), inset 0 2px 8px rgba(0,0,0,0.1), inset 0 -4px 4px rgba(0,0,0,0.05);
    }


    #toggle .indicator {
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        background: linear-gradient(to bottom, #444, #222);
        border-radius: 50%;
        transform: scale(0.9);
        box-shadow: 0 8px 40px rgba(0,0,0,0.5), inset 0 4px 4px rgba(255,255,255,0.2), inset 0 -4px 4px rgba(255,255,255,0.2);
        transition: 0.5s;
    }

    #toggle.active .indicator {
        left: 25px;
        background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
        box-shadow: 0 8px 20px rgba(0,0,0,0.1), inset 0 4px 4px rgba(255,255,255,1), inset 0 -4px 4px rgba(255,255,255,1);
    }


.searchNG {
    display: flex;
    margin: 1em;
    justify-content: end;
}

    .searchNG #inputSearch {
        margin: 5px;
        border: none;
        background-color: #ebeff5;
        position: relative;
        box-shadow: 0 8px 20px rgba(0,0,0,0.4), inset 0 4px 4px #444, inset 0 -4px 4px #444;
        padding: 5px 17px;
        border-radius: 8px;
        width: 20%;
    }

    .searchNG #inputSerie {
        margin: 5px;
        border: none;
        background-color: floralwhite;
        position: relative;
        box-shadow: 0 8px 20px rgba(0,0,0,0.4), inset 0 4px 4px rgba(255,255,255,1), inset 0 -4px 4px rgba(255,255,255,1);
        padding: 5px 17px;
        border-radius: 8px;
    }

    .searchNG #inputSearch::placeholder {
        color: black;
    }

    .searchNG #inputSerie::placeholder {
        color: firebrick;
    }

    .searchNG #btnSearch {
        border: none;
        color: #ebeff5;
        font-size: 28px;
        padding: 5px 10px;
        background: none;
    }

    .searchNG #btnSerie {
        border: none;
        color: firebrick;
        font-size: 28px;
        padding: 5px 10px;
    }

#selectCRUD {
    border: none;
    border-radius: 10px;
    margin-bottom: 2em;
    padding: 5px 17px;
    background: linear-gradient(white, #6c7a70);
}

.inp {
    width: 30%;
}

.container {
    width: 90%;
    margin: auto;
}

header {
    padding: 30px 0;
}


    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .logo {
        font-family: 'Bebas Neue', cursive;
        font-weight: normal;
        color: var(--red);
        font-size: 40px;
        text-decoration: none;
    }

    header nav a {
        color: white;
        text-decoration: none;
        margin-right: 20px;
    }
    body.active header nav a {
        color: black;
        text-decoration: none;
        margin-right: 20px;
    }

        header nav a:hover,
        header nav a.active {
            color: firebrick;
        }

/*    Carousel Slick Slide Properties    */

.slick-dots li button:before {
    color: black;
    margin-top: 10px;
    font-size: 12px;
}

.slick-dots li.slick-active button:before {
    color: red;
}

.carousel-container {
    padding: 50px;
    padding-top: 50px;
}

.main-container {
    padding: 50px;
    padding-top: 50px;
}

.movies-container {
    padding: 50px;
    padding-top: 50px;
}

.movie {
    padding: 50px;
    padding-top: 50px;
}

/*carousel-container*/
/* ---- ----- ----- Title and Controls Container ----- ----- ----- */

.title-controls-container {
    display: flex; 
    padding: 20px; /*50px 50px 50px*/
    justify-content: space-between;
    align-items: flex-end;
}

    .title-controls-container h3 {
        color: red;
        font-size: 30px;
    }

    .title-controls-container .indicators button {
        background: #FFF;
        height: 3px;
        width: 10px;
        cursor: pointer;
        border: none;
        margin-right: 2px;
    }

        .title-controls-container .indicators button:hover,
        .title-controls-container .indicators button.active {
            background: red;
        }


/* ---- ----- ----- Main Container and Arrows ----- ----- ----- */
#carRe {
    display: none;
}

/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
    header .logo {
        margin-bottom: 10px;
        font-size: 30px;
        text-decoration: none;
    }

    header .container {
        flex-direction: column;
        text-align: center;
    }

    .main-movie {
        font-size: 14px;
    }

        .main-movie .description {
            max-width: 100%;
        }

    .movies-container .carousel-container {
        overflow: visible;
    }

        .movies-container .carousel-container .carousel {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }

    .movies-container .indicators,
    .movies-container .left-arrow,
    .movies-container .right-arrow {
        display: none;
    }
}

/*Media querie de searchNG*/

@media (max-width: 768px) {
    .searchNG #inputSearch {
        font-size: 14px;
        padding: 3px 10px;
        border-radius: 6px;
        width: 50%;
    }
}

@media (max-width: 480px) {
    .searchNG #inputSearch {
        font-size: 12px;
        padding: 2px 8px;
        border-radius: 4px;
        width: 50%;
    }
}

/* Video Section */

.video-thumbnail {
    position: relative;
    display: inline-block;
}

.movie .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: opacity 2s;
}

.movie .video-player {
    position: fixed;
    z-index: 999;
    display: none;
    width: 500px;
    left: -40px;
    height: 200px;
    opacity: 1;
    animation: showVideo 2s forwards;
    transition: transform 5s ease;
}

    .movie .video-player:hover {
        animation: slideIn 5s forwards;
        animation-iteration-count: 1;
    }

@keyframes slideIn {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-110px);
    }
}

@keyframes showVideo {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.movie .video-player iframe {
    width: 60%;
    height: 100%;
    overflow: hidden;
}

.movie .video-thumbnail:hover .video-overlay {
    opacity: 1;
}

.movie .video-thumbnail:hover .video-player {
    display: block;
}


/***********************Menú responsive************************/
nav {
    height: 80px;
    width: 100%;
}

/*.logo {
    height: 40px;
}*/

    nav ul {
        float: right;
        margin-right: 20px;
    }

        nav ul li {
            display: inline-block;
            line-height: 10px;
            margin: 0 5px;
        }

            nav ul li a {
                font-size: 16px;
                padding: 7px 13px;
                /*text-transform: uppercase;*/
            }

.checkbtn {
    font-size: 30px;
    color: floralwhite; /*color del ícono de menú*/
    float: right;
    line-height: 50px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 420px) {
    .checkbtn {
        display: block;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #fff;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
        z-index: 9999;
    }

        nav ul li {
            display: block;
            margin: 50px 0;
            line-height: 30px;
        }

            nav ul li a {
                font-size: 15px;
            }

                nav ul li a:hover,
                nav ul li a.active {
                    background: none;
                    color: red;
                }

    #check:checked ~ ul {
        left: 0;
    }

    /*div {
        height: 300px;
    }*/
}
