:root {
    --red: #E50914;
    --background: #141414;
}

a {
    text-decoration: none;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background);
    font-family: 'Open Sans', sans-serif;
}
    body.active {
        background: #ebeff5;
        font-family: 'Open Sans', sans-serif;
    }



tbody{
    color:white;
}

thead{
    color:white;
}

#btnReport {
    background: linear-gradient(to bottom, #444, #222);
    border: none;
    box-shadow: inset 0 8px 60px rgba(0,0,0,0.1), inset 0 8px 8px rgba(0,0,0,0.1), inset 0 -4px 4px red;
}

#toggle {
    position: relative;
    display: block;
    width: 56px;
    height: 30px;
    border-radius: 160px;
    background: #222;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: inset 0 8px 60px rgba(0,0,0,0.1), inset 0 8px 8px rgba(0,0,0,0.1), inset 0 -4px 4px red;
}
    #toggle.active {
        background: #fff;
        box-shadow: inset 0 2px 60px rgba(0,0,0,0.1), inset 0 2px 8px rgba(0,0,0,0.1), inset 0 -4px 4px rgba(0,0,0,0.05);
    }


    #toggle .indicator {
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        background: linear-gradient(to bottom, #444, #222);
        border-radius: 50%;
        transform: scale(0.9);
        box-shadow: 0 8px 40px rgba(0,0,0,0.5), inset 0 4px 4px rgba(255,255,255,0.2), inset 0 -4px 4px rgba(255,255,255,0.2);
        transition: 0.5s;
    }

    #toggle.active .indicator {
        left: 25px;
        background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
        box-shadow: 0 8px 20px rgba(0,0,0,0.1), inset 0 4px 4px rgba(255,255,255,1), inset 0 -4px 4px rgba(255,255,255,1);
    }


.searchNG {
    display: flex;
    margin: 1em;
    justify-content: end;
}

    .searchNG #inputSearch {
        margin: 5px;
        border: none;
        background-color: #ebeff5;
        position: relative;
        box-shadow: 0 8px 20px rgba(0,0,0,0.4), inset 0 4px 4px #444, inset 0 -4px 4px #444;
        padding: 5px 17px;
        border-radius: 8px;
    }

    .searchNG #inputSerie {
        margin: 5px;
        border: none;
        background-color: floralwhite;
        position: relative;
        box-shadow: 0 8px 20px rgba(0,0,0,0.4), inset 0 4px 4px rgba(255,255,255,1), inset 0 -4px 4px rgba(255,255,255,1);
        padding: 5px 17px;
        border-radius: 8px;
    }

    .searchNG #inputSearch::placeholder {
        color: black;
    }

    .searchNG #inputSerie::placeholder {
        color: firebrick;
    }

    .searchNG #btnSearch {
        border: none;
        color: #ebeff5;
        font-size: 28px;
        padding: 5px 10px;
        background: none;
    }

    .searchNG #btnSerie {
        border: none;
        color: firebrick;
        font-size: 28px;
        padding: 5px 10px;
    }

#selectCRUD {
    border: none;
    border-radius: 10px;
    margin-bottom: 2em;
    padding: 5px 17px;
    background: linear-gradient(white, #6c7a70);
}

.inp {
    width: 30%;
}

.container {
    width: 90%;
    margin: auto;
}

header {
    padding: 30px 0;
}


    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .logo {
        font-family: 'Bebas Neue', cursive;
        font-weight: normal;
        color: var(--red);
        font-size: 40px;
        text-decoration: none;
    }

    header nav a {
        color: white;
        text-decoration: none;
        margin-right: 20px;
    }
    body.active header nav a {
        color: black;
        text-decoration: none;
        margin-right: 20px;
    }

        header nav a:hover,
        header nav a.active {
            color: firebrick;
        }

        /*PRUEBA MENU RESPONSIVE*/
/*
.container {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    margin-left: auto;
}

    .menu a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #000;
    }

.menu-toggle {
    display: none;
    cursor: pointer;
}

    .menu-toggle div {
        width: 25px;
        height: 3px;
        background-color: #000;
        margin-bottom: 5px;
    }

@media (max-width: 768px) {
    .menu {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

        .menu-toggle.active {
            transform: rotate(90deg);
        }

            .menu-toggle.active div {
                background-color: #fff;
            }

            .menu-toggle.active ~ .menu {
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                background-color: #f2f2f2;
                padding: 10px;
            }

                .menu-toggle.active ~ .menu a {
                    color: #000;
                }
}


*/
/*    Carousel Slick Slide Properties    */

.slick-dots li button:before {
    color: black;
    margin-top: 10px;
    font-size: 12px;
}

.slick-dots li.slick-active button:before {
    color: red;
}

.carousel-container {
    padding: 50px;
    padding-top: 50px;
}

.main-container {
    padding: 50px;
    padding-top: 50px;
}

.movies-container {
    padding: 50px;
    padding-top: 50px;
}

.movie {
    padding: 50px;
    padding-top: 50px;
}

/*carousel-container*/
/* ---- ----- ----- Title and Controls Container ----- ----- ----- */
.title-controls-container {
    padding: 10px /*50px 50px 50px*/;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

    .title-controls-container h3 {
        color: red;
        font-size: 30px;
    }

    .title-controls-container .indicators button {
        background: #FFF;
        height: 3px;
        width: 10px;
        cursor: pointer;
        border: none;
        margin-right: 2px;
    }

        .title-controls-container .indicators button:hover,
        .title-controls-container .indicators button.active {
            background: red;
        }


/* ---- ----- ----- Main Container and Arrows ----- ----- ----- */
#carRe {
    display: none;
}

/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
    header .logo {
        margin-bottom: 10px;
        font-size: 30px;
        text-decoration: none;
    }

    header .container {
        flex-direction: column;
        text-align: center;
    }

    .main-movie {
        font-size: 14px;
    }

        .main-movie .description {
            max-width: 100%;
        }

    .movies-container .carousel-container {
        overflow: visible;
    }

        .movies-container .carousel-container .carousel {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }

    .movies-container .indicators,
    .movies-container .left-arrow,
    .movies-container .right-arrow {
        display: none;
    }
}




/* Video Section */

.video-thumbnail {
    position: relative;
    display: inline-block;
}

.movie .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: opacity 2s;
}

.movie .video-player {
    position: fixed;
    z-index: 999;
    display: none;
    width: 500px;
    left: -40px;
    height: 200px;
    opacity: 1;
    animation: showVideo 2s forwards;
    transition: transform 5s ease;
}

    .movie .video-player:hover {
        animation: slideIn 5s forwards;
        animation-iteration-count: 1;
    }

@keyframes slideIn {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-110px);
    }
}

@keyframes showVideo {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.movie .video-player iframe {
    width: 60%;
    height: 100%;
    overflow: hidden;
}

.movie .video-thumbnail:hover .video-overlay {
    opacity: 1;
}

.movie .video-thumbnail:hover .video-player {
    display: block;
}
