:root {
    --red: #E50914;
    --background: #141414;
}


/*body {
    background: #ebeff5;
    font-family: 'Open Sans', sans-serif;
}

    body.active {
        font-family: 'Open Sans', sans-serif;
        background: #ebeff5;
    }*/

#season {
    background-color: #b3b3b3;
    font-size: 18px;
    border: none;
    color: black;
    padding: 1px 4px;
    margin-left: 5px;
    text-align: center;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}

.season-submit {
    background-color: #b3b3b3;
    font-size: 18px;
    border: none;
    color: black;
    padding: 1px 10px;
    margin-left: 8px;
    text-align: center;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}

.movie-details,
.episode-details {
    display: flex;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.movie-details__poster,
.episode-details__poster {
    flex: 0 0 200px;
    margin-right: 40px;
}

    .movie-details__poster img,
    .episode-details__poster img {
        width: 100%;
    }

.movie-details__content,
.episode-details__content {
    flex: 1;
    padding: 3px 20px 20px 20px;
    color: black;
}

.movie-details__video-info {
    display: flex;
    flex-direction: column;
}

    .movie-details__video-info iframe {
        width: 650px;
        height: 295px;
        margin-bottom: 40px;
    }


.movie-details__title {
    font-size: 30px;
    margin-bottom: 10px;
    color: black;
}

.movie-details__info p,
.episode-details__info p {
    margin-bottom: 10px;
    color: black;
}

.all-comment-section {
    margin-left: 20px;
    padding-top: 35px;
    padding-left: 30px;
    margin-top: 45px;
    margin-bottom: 25px;
    width: 1076px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#pagination {
    padding-bottom: 20px;
}

.comment-section {
    margin-top: 25px;
}

.commentInList {
    border: 3px solid black;
    border-radius: 8px;
    margin-bottom: 30px;
    width: 80%;
    padding: 15px 20px 25px 20px
}

.commentLB {
    display: inline-block;
    width: 100px;
}


.submitBTN {
    background-color: #b3b3b3;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}

    .submitBTN:hover {
        background-color: #595959;
    }



/*-------- POP-UP SECTION --------*/

.details-button {
    margin-top: 25px;
    display: flex;
}


.pop-up-button,
.buttons {
    background-color: #b3b3b3;
    font-size: 20px;
    border: none;
    color: black;
    padding: 20px 20px;
    margin-left: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 40px; /* Altura del botón */
    line-height: 0px; /* Centrar verticalmente el texto */
}

.actors {
    display: flex;
    flex-direction: column;
    margin: 10px 20px 30px 0px;
    margin-right: 20px;
    margin-bottom: 30px;
    padding-left: 20px;
}

    .actors .actor_image {
        margin-top: 5px;
    }

.actors_link {
}

.pop-up-button:hover,
.go-back-button:hover,
.season-submit:hover,
#season:hover {
    background-color: #595959;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}


.pop-up-window {
    color: black;
    background-color: var(--background);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid black;
    width: 50%;
}

.close-pop-up {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    width: 2%;
}

    .close-pop-up:hover,
    .close-pop-up:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
