:root {
    --red: #E50914;
    --background: #141414;
}

.commentInList {
    border-bottom: 1px solid white;
    padding: 15px;
}

.all-comment-section {
    margin-top: 50px;
    margin-bottom: 100px;
}


/* Text Area */
#commentTA {
    display: inline-block;
    width: 200px;
    vertical-align: top;
    color: black;
}

#score {
    color: black;
}


body {
    background: var(--background);
    font-family: 'Open Sans', sans-serif;
}

.movie-details {
    display: flex;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.movie-details__poster {
    flex: 0 0 200px;
    margin-right: 20px;
}

    .movie-details__poster img {
        width: 100%;
    }

.movie-details__content {
    flex: 1;
    padding: 20px;
    color: #AAA;
}

.movie-details__title {
    font-size: 30px;
    margin-bottom: 10px;
    color: #AAA;
}

.movie-details__info {
    margin-bottom: 100px;
    color: #AAA;
}

#pagination {
    font-size: 18px;
    margin-top: 30px;
}

.comment-section {
    margin-top: 30px;
    width: 550px;
}

.commentLB {
    display: inline-block;
    width: 100px;
}


.submitBTN {
    background-color: #b3b3b3;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}

    .submitBTN:hover {
        background-color: #595959;
    }
